<h1>Convert <%=@src%> </h1>

Go <a href="/forex">back</a>.

<ul>
    <%@array_of_symbols.each do |a_symbol|%>
    <li>
      <a href="/forex/AED/AED">
        Convert 1 AED to AED...
      </a>
    </li>
    <% end %>
</ul>